@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* common css */

.badge h5{
    background: rgba(238, 242, 255, 1);
    padding: 6px 12px;
    border-radius: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: rgba(79, 70, 229, 1);
    line-height: 20px;
    text-align: center;
    font-family: Plus Jakarta Sans;
}
.description p{
    font-size: 18px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
}
h2{
    font-size: 36px;
    color: rgba(30, 41, 59, 1);
    font-weight: 800;
    font-family: Plus Jakarta Sans;
    line-height: 68px;
    text-align: center; 
}


/* common css end */


 .container{
    max-width: 1200px;
} 


 /* header start */


 .header_section {
    background: #f8f8f8;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
  }
   .header_section  .row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0px;
    align-items: center;
  }
  .logo img {
    height: 50px;
  }
  
  .menu_bar ul {
    display: flex;
    gap: 20px;
  }
  
  /* Hide hamburger by default */
  .hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }
  







.menu_bar ul li {
    display: inline-block;
    padding: 0px 10px;
}

.menu_bar ul li a{
    text-decoration: none;
    color: rgba(71, 85, 105, 1);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16;
    font-weight: bold;
}

.sign_up{
    padding: 12px 20px;
    border-radius: 30px;
    border: 1px solid #CBD5E1;
    text-decoration: none;
    margin: 0px 10px;
}

.login{
    padding: 12px 20px;
    border-radius: 30px;

    text-decoration: none;
    background: #4F46E5;
    color: #fff;
}



/* header end */

/* hero section start */

.hero_section{
    text-align: center;
    padding: 40px 0;
    background: linear-gradient(to bottom, #ffffff, #a1a4e5);;
 
}

/* .hero_section .images{
    display: flex;
} */

.hero_section .badge{
    padding: 23px 0px;
}
.hero_section .badge h5{
    background: rgba(238, 242, 255, 1);
    padding: 6px 12px;
    border-radius: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: rgba(79, 70, 229, 1);
    line-height: 20px;
    text-align: center;
    font-family: Plus Jakarta Sans;
}



.hero_section .title_header{
    padding: 23px 0px;
}
.hero_section .title_header h1{
    font-size: 60px;
    color: rgba(30, 41, 59, 1);
    font-weight: 800;
    font-family: Plus Jakarta Sans;
    line-height: 68px;
   text-align: center;

}
.hero_section .description{
    padding: 23px 0px;
}
.hero_section .description p{
    font-size: 18px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
}
.images{
    padding: 23px 0px;
}
.images .appstore img{
    padding: 0px 14px;
}


/* hero section end */

/* client section start */

.client_section {
    padding: 30px 0px;
}
.client_section .row{
   
    display: flex;
    justify-content: space-evenly;
}

/* client section end */

/* fearure section start */

.feature_section{
    padding: 30px 0px;
}

.feature_section, .badge, .title_header, .description{
    text-align: center;
}
.feature_section .badge h5{
    background: rgba(238, 242, 255, 1);
    padding: 6px 12px;
    border-radius: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: rgba(79, 70, 229, 1);
    line-height: 20px;
    text-align: center;
    font-family: Plus Jakarta Sans;
}

.feature_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 80px; 
    column-gap: 32px;  
}
.feature_item img{
    height: 80px;
    width: 80px;
}

.feature_item h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    font-family: Plus Jakarta Sans;
    color: rgba(30, 41, 59, 1);

}
.feature_item p{
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    font-family: Plus Jakarta Sans;
    color: rgba(71, 85, 105, 1);
}


/* feature section end */

/* Statistics Section start  */
.statistics_section{
    padding: 30px 0px;
}
.statistics_section .badge h5{
    background: rgba(238, 242, 255, 1);
    padding: 6px 12px;
    border-radius: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: rgba(79, 70, 229, 1);
    line-height: 20px;
    text-align: center;
    font-family: Plus Jakarta Sans;
}
.statistics_section .badge h5{
    height: 56px;
    width: 56px;
    background: rgba(238, 242, 255, 1);
  

}
.statistics_section .badge h5 img{
    margin-top: 5px;
    display: inline-block;
}
.statistics_items{
    display: flex;
    justify-content: space-evenly;
   
}
.statistics {
    border-right: 1px solid rgba(203, 213, 225, 1);
    margin-right: 30px;
}
.statistics h3{
    font-size: 60px;
    color: rgba(79, 70, 229, 1);
    font-weight: 700;
    font-family: Plus Jakarta Sans;
    line-height: 68px;
}
.statistics p{
    text-align: center;
    font-size: 18px;
    color: rgba(71, 85, 105, 1);
    font-weight: 700;
    font-family: Plus Jakarta Sans;
    line-height: 24px;
    letter-spacing: -0.8%;
}
/* Statistics Section end  */

/* dashboard_feature section start */
.dashboard_feature{
    padding: 30px 40px;

}
.dashboard_badge h5{
    background: rgba(238, 242, 255, 1);
    padding: 6px 12px;
    border-radius: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: rgba(79, 70, 229, 1);
    line-height: 20px;
    font-family: Plus Jakarta Sans;
}

.dashboard_title_header h2{
text-align: left;
 font: 36px;
 font-weight: 800;
 line-height: 44px;
 color: rgba(30, 41, 59, 1);

}

.dashboard_description{

}
.dashboard_description p{
    font-size: 20px;
    color: rgba(71, 85, 105, 1);
    font-weight: 400;
    font-family: Plus Jakarta Sans;
    line-height: 160%;

}

.dashboard_content_image{
    display: flex;
    justify-content: space-evenly;
    padding: 66px 0px;
}
.dashboard_content_item{
    padding: 20px 0px;
}

.dashboard_content_item h6{
    font-size: 20px;
    font-weight: 700;
    color: rgba(71, 85, 105, 1);
    line-height: 28px;
    letter-spacing: -1%;
    font-family: Plus Jakarta Sans;
    padding: 15px 0px;
}
.dashboard_content_item p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(71, 85, 105, 1);
    line-height: 160%;
  
    font-family: Plus Jakarta Sans;
}

.dashboard_image img{
    height: 592px;
    width: 592px;
}


/* dashboard_feature section end */


/* testimonial section start */
.testomonial_section{
    padding: 30px 0px;
}

.testimoanials{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    column-gap: 15px;
    
}
.testomonial_item{
    border: 1px solid rgba(226, 232, 240, 1);
    padding: 24px;
    border-radius: 24px;
    background-color: rgba(248, 250, 252, 1);
}
.profile_item {
    display: flex;
    padding: 20px 0px;
    
}
.stars{
    padding: 10px 0px;
}
 .stars i{
    color: rgba(245, 158, 11, 1);
}
.profile_title{
    padding: 5px 15px;
}
.profile_title h5{
 font-size: 16px;
 line-height: 22px;
 font-weight: 700;
 color: rgba(30, 41, 59, 1);
 letter-spacing: -0.7%;
 font-family:Plus Jakarta Sans ;
}
.profile_title h6{
    padding: 3px 0px;
    color: rgba(71, 85, 105, 1);
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    font-family: Plus Jakarta Sans;
}

/* testimonial section end */

/* contact section start css */
.contact_section{
    padding: 30px 40px;
}
.contact_badge h5{
    background: rgba(238, 242, 255, 1);
    padding: 6px 12px;
    border-radius: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: rgba(79, 70, 229, 1);
    line-height: 20px;
    font-family: Plus Jakarta Sans;
}

.contact_title_header h2{
    font-size: 36px;
    color: rgba(30, 41, 59, 1);
    font-weight: 800;
    font-family: Plus Jakarta Sans;
    line-height: 68px;
    text-align: left;
}
.contact_description p{
    font-size: 18px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    line-height: 160%;
}
.contacts{
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
    padding: 20px 0px;
}

.contact_item{
    border: 1px solid rgba(226, 232, 240, 1);
    padding: 24px;
    border-radius: 24px;
    background: rgba(226, 232, 240, 1);
}

.contact_item h4{
  color: rgba(30, 41, 59, 1);
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
  font-family: Plus Jakarta Sans;
  padding: 15px 0px;

}
.contact_item p{
    color: rgba(30, 41, 59, 1);
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    font-family: Plus Jakarta Sans;
}

/* contact section end css */

/* faq section start */
.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0px;
}

.faq-item {
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.faq-question {
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}
.faq-question span{
    font-size: 16px;
    line-height: 22px;
    font-weight: 800;
    font-family: Plus Jakarta Sans;
    color: rgba(51, 65, 85, 1);
}

.faq-question i {
    transition: transform 0.3s ease;
}

.faq-answer {
    background: #F9FAFB;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-item.active .faq-question i {
    transform: rotate(180deg);
}

.faq-item.active .faq-answer {
    max-height: 500px;
    padding: 20px;
}


/* faq section end */



/* downloadapp_section start */
.download_appSection{
    background: rgba(238, 242, 255, 1);
    /* padding: 60px 0px; */
    display: flex;
    justify-content: space-evenly;
}

.cta_section{
    display: flex;
    justify-content: space-evenly;
}
.cta_content{
    padding: 80px 0px;
}

.cta_content h3{
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: -1.4%;
    color: rgba(30, 41, 59, 1);
    padding: 20px 0px;
}
.cta_content p{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;

    color: rgba(71, 85, 105, 1);
    padding: 10px 0px;
}

.cta_btn{
    padding: 30px 0px;
}

.learn_btn{
    padding: 12px 20px;
    border-radius: 30px;
    border: 1px solid rgba(79, 70, 229, 1);
    text-decoration: none;
    color: rgba(79, 70, 229, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  
}

.get_btn{
    padding: 12px 20px;
    border-radius: 30px;

    text-decoration: none;
    background: #4F46E5;
    color: #fff;
    margin: 0px 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.ctn_btn{
    padding: 30px 0px;
}

.cta_image{
    position: relative;

}
.cta_image1{
    margin-right: 200px;
    width: 260px;
    height: 440px;
}

.cta_image2{
    position: absolute;
    right: 5%;
    width: 260px;
    height: 440px;
   
    bottom: 30;
}
/* downloadapp_section end */

/* footer css start */
footer {
    background: var(--dark-color);
    color: white;
    padding: 60px 0 20px;
}

.footer-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin-bottom: 40px;
    
}

.footer-logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    display: block;
}

.footer-links h3 {
    color: rgba(30, 41, 59, 1);;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: rgba(71, 85, 105, 1);
    transition: color 0.3s ease;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}
/* 
.footer-links ul li a:hover {
    color: white;
} */

.border_hr{
    color: rgba(203, 213, 225, 1);
    width: 1000px;
    margin: 0 auto;
}
.footer-bottom {
   display: flex;
   justify-content: space-between;
    padding-top: 20px;
    margin: 0px 40px;


}
.copyright p{
    color: rgba(148, 163, 184, 1);
    font-size: 14px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    line-height: 20px;
}


/* footer css end */


